.blogger {margin-top: 3em}
.blogger .picture {float:left;margin-right:20px}
.blogger .name {margin:0 0 0.5em 0;clear:both}
.blogger .more {float:right;margin-right:30px}
.blogger .item-list ul li {list-style-type:none;padding-left:90px;background:none}
